<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<table border="2" cellpadding="2">
    <caption>all registers</caption>

    <thead>
        <tr>
            <td>name</td>
            <td>phone</td>
            <td>process</td>
        </tr>
    </thead>
    <tbody>
        {% for register in all_register %}
            <tr>
                <td>
                    {{register.username}}
                </td>
                <td>
                    {{register.user_phone}}
                </td>
                <td>
                    <a href="{{ url_for('delete', index_wish= loop.index0) }}"><button>to process</button></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>