<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<ol>
    {% for book in book_list %}
        <li>
            {{book.title | capitalize}} - {{book.author | title}}
            {{book.genre | upper}}
            <br>rating: {{book.rating}}

            {% if book.rating >= 9 %}
                <p> Топова книга </p>

            {% elif 7 < book.rating < 9 %}
                <p> Хороша книга </p>

            {% else %}
                <p> На любителя </p>

            {% endif %}

            <br>{{book.pages}} pages

            {% if book.pages > 400 %}
                <p> Велика книга </p>

            {% endif %}

            {{book.tags.join}}

            {% if book.available %}
                <p>Є в наявності</p>

            {% else %}
                <p> Немає в наявності </p>

            {% endif %}

            {% if book.reviews | length == 0 %}
                <p>no reviews now</p>

            {% else %}
                {% for review in book.reviews%}
                    <p>{{review}}</p>
                {% endfor %}

            {% endif %}

            <p>{{ book.tags|join(', ') }}</p>
        </li>
    {% endfor %}

</ol>

</body>
</html>