<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
</head>
<body>
<h1>my wishlist</h1>
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

<h3>add or find wish</h3>
<form method="POST">
    <label for="add_wish">add wish</label>
    <input name="wish" type = "text" id ="add_wish">
    <button type="submit">add wish</button>
</form>

<form method="GET">
    <label for="wish_input">find wish</label>
    <input name="find" type="text" id="wish_input">
    <button type="submit">find</button>
</form>

{% if find_wish in all_wishes %}
    <p>this wish exists</p>
{% else %}
    <p>this wish is not exists</p>
{% endif %}

<h3>Wishlist</h3>
<ul>
    {% for wish in all_wishes %}
        <li>
            {{wish}}
            <a href="{{ url_for('delete', index_wish= loop.index0) }}"><button>delete</button></a>
        </li>
    {% endfor %}
</ul>

</body>
</html>